.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/soluciones_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: auto;
    align-items: center;
}
.yellowLine{
    width: 70%;
    height: 10px;
    background-color: #f9b03a ;

}

.content{
    width: 80%;
    justify-content: center;
    align-items: center;
}

.container h2{
    font-size: 70px;
    font-weight: 500;
    text-align: left;
}
.textInfo{
    font-size: 20px;
    text-align: left;
    color: white;
    margin-top: 30px;
}
.categoryContainer{
    display: flex;
   justify-content: space-evenly;
    
    
}
.icon{
    width: 75px;
    height: 75px;
    color: white;
}
/*RESPONSIVE*/
@media (max-width:1100px){
    .sectoresContainer{
        height: 1250px ;
    }
    
}