body{
  background-color:#111827;
}
.container{ 
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.contactoTitulo{
  color:white ;
  font-size: 50px;
  margin: 60px;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cards{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  
}

form {
  min-width: 375px;
  height: 100%;
  padding: 10px 20px;
  background: #e0e0e0;
  border-radius: 8px;
  margin-left: 40px;
}

h1 {
  text-align: center;
}
.contactoSubtitulo{
  display: flex;
  justify-content: center;
  color:white;
  font-size: large;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  width: 100%;
}

input[type="text"],
input[type="email"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}


.error {
  border-color: #e74c3c;
}

.errorMsg {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 4px;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 580px;
  }

}

@media (max-width: 900px){

  .cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form{
    margin-left: 0px;
    width: 100%;
    margin-top: 20px;
  }
  .formularioContainer form{
    max-width: 100%;
    margin-top: 20px;
  }
}