.fondo{
    background: radial-gradient(circle, #19395f 10%, transparent 11%);
        background-size: 3em 3em;
        background-color: #001d54;
        opacity: 1;
        height:max-content;
        /* background-image: url("/valores.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: auto; */
}
.container{
    display: flex;
    flex-direction: column;
    /* background-image: url("./voyant_bg3.jpeg"); */
    position: relative; /* Para que los elementos posicionados absolutamente sean relativos a este contenedor */
    overflow: hidden;
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-height: 700px;  
    height: 100%;
}
.container h3{
    font-size: 70px;
    font-weight: 500;
    text-align: left;
    color: #f9b03a;
}
.textAboveCards{
    margin: 30px;
    color:white;
    font-size: 30px;
    text-align: center;
    width: 90%;
}
.parrafo{
    color: white;
    text-align: start;
}
.parrafos{
    width: 500px;
    margin: 20px;
}
.containerInfo{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    width: 90%;
    height: 100%;
}
p span{
    color:#f9b03a;
    font-weight: 500;
}

/*RESPONSIVE*/
@media(max-width:600px){
    .container h3{
        font-size:xx-large;
        font-weight: 500;
        text-align: left;
        color: #f9b03a;
    }

    .textAboveCards{
        margin-left: 55px;
        margin-right: 55px;
        margin-bottom: 0px;
        color:white;
        font-size: larger;
        text-align: start;
        width: 90%;
    }
}