.container{
    display: flex;
    /* background-image: url("./voyant_bg3.jpeg"); */
    background-color: white;
    height: 100dvh;
    position: relative; /* Para que los elementos posicionados absolutamente sean relativos a este contenedor */
    overflow: hidden;
    background-size: cover;
    justify-content: center;
    height: 100dvh;
    
}

.container h5{
    font-size: 70px;
    font-weight: 500;
    text-align: left;
    color: #f9b03a;
}
.containerInfo{
    display: flex;
    align-items: center;
    width: 80%;
}

.container img{
    mask-image: linear-gradient(white 50%,transparent);
    width: 100%;  
}
.containerText{
    width: 50%;
}
.parrafo{
    font-size: xx-large;
    text-align: left;
}

/*RESPONSIVE*/

@media (max-width:1536px){
    .container h5{
        font-size: 50px;
    }
    .parrafo{
        font-size: x-large;
    }
}
@media (max-width:1280px){
    .container h5{
        font-size: 40px;
    }
    .parrafo{
        font-size:large;
    }
    .container img{
        mask-image: linear-gradient(white 50%,transparent);
        width: 90%;  
    }
    .containerInfo{
        display: flex;
        align-items: center;
        width: 90%;
    }
}