.container{
    display: flex;
    background-image: url("./voyant_bg3.jpeg");
    height: 100vh;
    position: relative; /* Para que los elementos posicionados absolutamente sean relativos a este contenedor */
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    
}

.container h5{
    font-size: 70px;
    font-weight: 500;
    text-align: left;
    color: #f9b03a;
}
.containerInfo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container img{
    mask-image: linear-gradient(white 20%,transparent);
    width: 100%;  
}
.parrafo{
    font-size: xx-large;
}
