.container{
    display: flex;
    /* background-image: url("./voyant_bg3.jpeg"); */
    background-color: white;
    position: relative; /* Para que los elementos posicionados absolutamente sean relativos a este contenedor */
    overflow: hidden;
    background-size: cover;
    justify-content: center;
    height: 100%;  
    
}

.container h5{
    font-size: 70px;
    font-weight: 500;
    text-align: left;
    color: #f9b03a;
}
.containerInfo{
    display: flex;
    align-items: center;
    width: 80%;
    flex-direction: row-reverse;
    
}

.imgContainer {
    width: 50%;
    
}
.containerText{
    width: 50%;
    margin: 3rem;
}
.parrafo{
    font-size: x-large;
    text-align: left;
    
}

/*RESPONSIVE*/

@media (max-width:1783px){
    .container h5{
        font-size: 60px;
    }
    .parrafo{
        font-size: x-large;
    }
    .container img{
        
        width: 100%;  
    }
    .imgContainer{
        width: 60%;
    }
}
@media (max-width:1460px){
    
    .parrafo{
        font-size:large;
    }
    .container img{
       
        width: 100%;  
    }
    .imgContainer{
        width: 70%;
    }
    .containerInfo{
        display: flex;
        align-items: center;
        width: 90%;
    }
}
@media (max-width:1024px){
    
    .containerText h5{
        font-size: 55px;
    }
    
}
@media (max-width:768px){
    .containerText h5{
        font-size: 45px;
    }
    .containerInfo{
        flex-direction: column;
        display: flex;
        align-items: center;
        width: 90%;
        height: 100%;
    }
    .containerText{
        width: 90%;
    }
    .imgContainer{
        width: 90%;
        margin-bottom: 40px;
    }
    .container h5{
        font-size: 60px;
    }

}
@media (max-width:375px){
    
    .containerText{
        width: 90%;
    }
    .imgContainer{
        width: 100%;
    }
    .container h5{
        font-size: 40px;
    }

}