.navbar {
    display: flex;
    overflow: hidden;
    background-color: #333;
    transition: 300ms;
    justify-content: center;
    align-items: center;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 300ms;
  }
  .subnav .subnavbtn {
    display: flex;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover,
  .subnav:hover .subnavbtn  {
    background-color: white;
    color: black;
    transition: 300ms;
  }
  
  .subnavContent {
    display: flex;
    position: absolute;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 0;
    opacity: 0; 
    height: 50vh;
    color: black;
    transform: translateY(-120%);
   
  }
  
  .subnavContent a {
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    transition: 900ms;
    align-items: center;
    justify-content: center;
  }
  
   a:hover .subnavContent{
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover > .subnavContent {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: 700ms;
    opacity: 1;
    transform: translateY(0%);
  }
  .subnavContent:hover{
    position: absolute;
    opacity: 1;
    transform: translateY(0%);
  }

  .divStyle {
    padding: 0 16px;
  }

  .subnavContent .category{
    width: 250px;
    height: 250px;
  }
  .icon{
    margin: 0px auto;
    margin-bottom: 10px;
    width: 140px;
    height: 140px;
  }
