.sectoresContainer{
    position: relative; /* Para que los elementos posicionados absolutamente sean relativos a este contenedor */
   /* Para asegurar que el contenido no desborde el contenedor */
    background-image: url("/sectores_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}

.logo{
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 0;
    position:absolute;
}

.containerSectores{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.boxCategory h2{
    color: white;
    font-size: 25px;
}
.container p{
    margin-bottom: 40px;
}
.icon{
    width: 80px;
    height: 80px;
    color: white
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    height: 100vh;
    width: 80%;
}
.boxCategory{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.container h2{
    font-size: 70px;
    font-weight: 500;
    text-align: left;
}
.yellowLine{
    width: 70%;
    height: 10px;
    background-color: #f9b03a ;

}
.textInfo{
    font-size: 25px;
    text-align: left;
}

/*RESPONSIVE*/

@media(max-width:640px){
    .container p{
        margin-bottom: 0px;
    }
    .icon{
        width: 70px;
        height: 70px;
        color: white
    }
}

@media(max-width:480px){
.sectoresContainer{
    background-position: center;
    background-size: cover;
}

.container h2{
    font-size: 35px;
    font-weight: 500;
    text-align: left;
}
.textInfo{
    font-size: 16px;
    text-align: left;
}
.boxCategory{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 20px;
}
.containerSectores{
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    
    
}
}
    
@media(max-width:360px){

}

