.boxCategory{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: white;
    max-width: 200px;
    width: 100%;
}

.categoryGrid {
  display: contents; /* 👈 deja que los hijos vivan directamente en el grid */
}

/*RESPONSIVE*/
@media(max-width:640px){
    .boxCategory{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 100%;
    }
}