.sectoresContainer{
    position: relative; /* Para que los elementos posicionados absolutamente sean relativos a este contenedor */
   /* Para asegurar que el contenido no desborde el contenedor */
    background-image: url("/soluciones_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.logo{
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 0;
    position:absolute;
}

.containerSectores{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

h2{
    color: white;
    font-size: 25px;
}
.container p{
    margin-bottom: 40px;
}
.icon{
    width: 75px;
    height: 75px;
    color: white
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    height: 100vh;
    width: 80%;
}
.container h2{
    font-size: 70px;
    font-weight: 500;
    text-align: left;
}
.yellowLine{
    width: 70%;
    height: 10px;
    background-color: #f9b03a ;

}
.textInfo{
    font-size: 20px;
    text-align: left;
}

/*RESPONSIVE*/
@media (max-width:1100px){
    .sectoresContainer{
        height: 1250px ;
    }
    
}
@media(max-width:640px){
    .container p{
        margin-bottom: 0px;
    }
    .icon{
        width: 60px;
        height: 60px;
        color: white
    }
    .textInfo{
        font-size: 16px;
        text-align: left;
    }
}

@media(max-width:480px){
.sectoresContainer{
    background-position: center;
    background-size: cover;
}

.container h2{
    font-size: 35px;
    font-weight: 500;
    text-align: left;
}

.containerSectores{
    display: flex; 
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
}